<p>page-not-found works!</p>

<p>/*********************************************************************************</p>
<p>* WEB422 – Assignment 04</p>
<p>* This is a Web application designed by the Instructor and implemented by Jorge Garciadiego</p>
<p>* No part of this assignment has been copied manually or electronically from any other source </p>
<p>* Name: Jorge Garciadiego Student ID: 142099183 Date: Nov/13/2020</p>
<p>*</p>
<p>********************************************************************************/</p>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                
            </div>
        </div>
    </div>
</div>